@model LabClick.Database.EXAME
@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja deletar este registro?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_exame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_exame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_inserido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_inserido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_modificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_modificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLINICA.nome_clinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLINICA.nome_clinica)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
