@model LabClick.Database.PACIENTE
@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.nome_paciente)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.nome_paciente)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.sexo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.sexo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.data_nascimento)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.data_nascimento)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.telefone)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.telefone)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.cpf)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.cpf)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.uf_cidade)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.uf_cidade)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.data_inserido)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.data_inserido)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.data_modificado)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.data_modificado)
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        @Html.ActionLink("Voltar", "Index")
    </div>
}

