@model ICollection<LabClick.Domain.Entities.Teste>

@{
    ViewBag.Title = "Lista de Exames";
}

<h2>Lista de Exames</h2>

<table class="table">
    <tr>
        <th>Exame</th>
        <th>QR Code</th>
        <th>Status</th>
        <th>Data do Exame</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exame.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        @if (item.LaudoOk)
        {
            <td>
                @Html.ActionLink("Ver Laudo", "VerExame", new { testeId = item.Id }, new { target = "_blank" })
            </td>
        }
        else
        {
            <td>Laudo Indisponível</td>
        }
    </tr>
}

</table>
