@model IEnumerable<LabClick.Database.TESTE>
@using LabClick.Models
@{
    ViewBag.Title = "Listagem dos Testes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<h1>Testes por paciente:</h1>
<br />

<table class="table">
    <tr>

               <th>
            Nome Exame
        </th>
        <th>
            Nome Laboratorio
        </th>
        <th>
            Status
        </th>
        <th>
            Data Inclusão
        </th>
        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            

            <td>
                @Html.DisplayFor(modelItem => item.EXAME.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLINICA.nome_clinica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_inserido)
            </td>
            <td>

                @Html.ActionLink(
                        "Detalhes",
                        "Detalhes",
                        "Teste",
                        routeValues: new
                        {
                            id = item.id,
                        },
                     htmlAttributes: new { @class = "btn btn-default" }
                    )
                @if (item.status == "Em avaliação" && User.IsInRole("Laboratorio"))
                {
                    @Html.ActionLink(linkText: "Avaliar", actionName: "Avaliar",
                             controllerName: "Teste",
                    routeValues: new { id = item.id },
                    htmlAttributes: new { @class = "btn btn-warning" })
                }
                @if (item.status == "Finalizado")
                {
                    <a class="btn btn-danger" href="/Resultado/Detalhes/@Html.Raw(Util.RetornaResultado(item.id))">
                       Resultado 
                    </a>
                    
                   
                }
            </td>
        </tr>
    }

</table>