@model LabClick.ViewModel.NovoPacienteViewModel

@{
    ViewBag.Title = "Novo Paciente";
}

<div>
    @using (Html.BeginForm("NovoPaciente", "Paciente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control datepicker", type = "date" } })
                        @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Gênero</label>
                    <div class="col-md-7">
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.Sexo, "Feminino", htmlAttributes: new { @class = "" }) Feminino</label>
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.Sexo, "Masculino", htmlAttributes: new { @class = "" }) Masculino</label>
                        @Html.ValidationMessageFor(m => m.Sexo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                        <span hidden id="cpfError" class="text-danger field-validation-error">CPF já cadastrado!</span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.EnderecoViewModel.Cep, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EnderecoViewModel.Cep, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EnderecoViewModel.Cep, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EnderecoViewModel.UF, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EnderecoViewModel.UF, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EnderecoViewModel.UF, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EnderecoViewModel.Cidade, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EnderecoViewModel.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EnderecoViewModel.Cidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EnderecoViewModel.Bairro, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EnderecoViewModel.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EnderecoViewModel.Bairro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EnderecoViewModel.Logradouro, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EnderecoViewModel.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EnderecoViewModel.Logradouro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EnderecoViewModel.Numero, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EnderecoViewModel.Numero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EnderecoViewModel.Numero, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2">
                <div class="form-group">
                    <div class="col-md-offset-5">
                        @Html.ActionLink("Cancelar", "Index", "Dashboard", null, new { @class = "btn btn-default" })
                        <span></span>
                        <button class="btn btn-primary" id="btnSalvar" type="submit">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

<script>
    $(document).ready(function () {

        $("#Cpf").mask('000.000.000-00', { reverse: true });
        $("#Telefone").mask('(00)00000-0000')
        $("#EnderecoViewModel_Cep").mask('00000-000')
        $("#EnderecoViewModel_UF").mask('AA');
        $("#EnderecoViewModel_Numero").mask('000000');

        // checa se o cpf digitado já está cadastrado
        $("#Cpf").focusout(function () {

            var cpf = $("#Cpf").val();

            $.ajax({
                url: "http://apilabclick.mflogic.com.br/paciente/getByCpf/" + cpf,
                dataType: "json",
                success: function (data) {

                    if (data != null) {
                        $("#cpfError").removeAttr("hidden");
                    }
                    else {
                        $("#cpfError").attr("hidden", true);
                    }
                }
            });
        });

        // busca os dados do endereço pelo cep digitado
        $("#EnderecoViewModel_Cep").focusout(function () {

            var cep = $("#EnderecoViewModel_Cep").val();

            if (cep != "") {

                $.ajax({
                    url: "https://viacep.com.br/ws/" + cep + "/json/",
                    dataType: "json",
                    success: function (data) {

                        if (!("erro" in data)) {
                            $("#EnderecoViewModel_UF").val(data.uf);
                            $("#EnderecoViewModel_Cidade").val(data.localidade);
                            $("#EnderecoViewModel_Bairro").val(data.bairro);
                            $("#EnderecoViewModel_Logradouro").val(data.logradouro);
                            $("#EnderecoViewModel_Numero").focus();
                        }
                        else {
                            alert("CEP não encontrado :(")
                        }
                    },
                    error: function () {
                        alert("CEP em formato inválido.");
                    }
                });
            }
        });
    });
</script>

