@model LabClick.ViewModel.NovoPacienteViewModel

@{
    ViewBag.Title = "Novo Paciente";
}

<div>
    @using (Html.BeginForm("NovoPaciente", "Paciente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>Nome</label>
            @Html.TextBoxFor(m => m.Nome)
        </div>
        <div class="form-group">
            <label>Gênero</label>
            @Html.TextBoxFor(m => m.Sexo)
        </div>
        <div class="form-group">
            <label>Data de Nascimento</label>
            @Html.TextBoxFor(m => m.DataNascimento, htmlAttributes: new { @class = "datepicker", type = "date" })
        </div>
        <div class="form-group">
            <label>CPF</label>
            @Html.TextBoxFor(m => m.Cpf, htmlAttributes: new { })
            <label hidden id="cpfError">CPF já cadastrado!</label>
        </div>
        <div class="form-group">
            <label>E-mail</label>
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="form-group">
            <label>Telefone</label>
            @Html.TextBoxFor(m => m.Telefone)
        </div>
        <div class="form-group">
            <label>CEP</label>
            @Html.TextBoxFor(m => m.EnderecoViewModel.Cep)
        </div>
        <div class="form-group">
            <label>UF</label>
            @Html.TextBoxFor(m => m.EnderecoViewModel.UF)
        </div>
        <div class="form-group">
            <label>Cidade</label>
            @Html.TextBoxFor(m => m.EnderecoViewModel.Cidade)
        </div>
        <div class="form-group">
            <label>Bairro</label>
            @Html.TextBoxFor(m => m.EnderecoViewModel.Bairro)
        </div>
        <div class="form-group">
            <label>Rua</label>
            @Html.TextBoxFor(m => m.EnderecoViewModel.Logradouro)
        </div>
        <div class="form-group">
            <label>Número</label>
            @Html.TextBoxFor(m => m.EnderecoViewModel.Numero)
        </div>
        @Html.ActionLink("Cancelar", "", "", htmlAttributes: new { @class = "btn btn-default" })
        <button class="btn btn-primary" id="btnSalvar" type="submit">Salvar</button>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="modalOptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Paciente já cadastrado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mensagem">
                ...
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        @Html.ActionLink("Novo Teste", "", null,  new { @class = "btn btn-success" })
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#Cpf").focusout(function () {

            var cpf = $("#Cpf").val();

            $.ajax({
                url: "http://localhost:52434/paciente/getByCpf/" + cpf,
                dataType: "json",
                success: function (data) {

                    if (data != null) {
                        $("#cpfError").removeAttr("hidden");
                    }
                    else {
                        $("#cpfError").attr("hidden", true);
                    }
                }
            });
        });
    });
</script>

