@model LabClick.ViewModel.PacienteViewModel
<div class="row">
    <div class="col-lg-12">
        <p class="block-gradient text-center">Pacientes</p>
    </div>
</div>
<table class="table table-hover" style="width:100%; border: none" id="dtPacientes">
    <thead>
        <tr>
            <th>Nome do Paciente</th>
            <th>E-Mail</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pacientes)
        {
            <tr>
                <td id="name">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                    @Html.HiddenFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Ver Exames", "ListaExames", new { pacienteId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>