<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LabClick // O Seu laboratório em um click</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body style="background-image: url('/Content/styles/images/bg_cadastro.jpg'); background-repeat: no-repeat;background-position: top center; background-size: cover">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Dashboard/">
                    <img src="~/Content/styles/images/logo-labclick2.png" class="navbar-brand" style="width:7%;position:absolute;">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Clinica"))
                {
                    <ul style="padding-left: 5%;" class="nav navbar-nav">
                        <li>@Html.ActionLink("Exames", "Index", "Exame")</li>
                        <li>@Html.ActionLink("Pacientes", "Index", "Paciente")</li>
                    </ul>}
                @if (User.IsInRole("Laboratorio"))
                {
                    <ul style="padding-left: 5%;" class="nav navbar-nav">
                        <li>@Html.ActionLink("Clinicas", "Index", "Clinica")</li>
                        <li>@Html.ActionLink("Pacientes", "IndexLab", "Paciente")</li>
                    </ul>
                }
                else{
                    
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br/>
        <br/>
        <br/>
        <br/>
        @RenderBody()
        <hr />

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
              
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });
        $(document).ready(function () {
            $('#tabela_pac').DataTable({
                "columnDefs": [
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": true
                    },
            {
                "targets": [2],
                "visible": false
            }
                ],
            "language":{
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
            });
        });
        jQuery(function ($) {
            $('#telefone').mask("(99) 9999-9999?9")
                 .focusout(function (event) {
                     var target, phone, element;
                     target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                     phone = target.value.replace(/\D/g, '');
                     element = $(target);
                     element.unmask();
                     if (phone.length > 10) {
                         element.mask("(99) 99999-999?9");
                     } else {
                         element.mask("(99) 9999-9999?9");
                     }
                 });
            $('#celular').mask("(99) 9999-9999?9")
                 .focusout(function (event) {
                     var target, phone, element;
                     target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                     phone = target.value.replace(/\D/g, '');
                     element = $(target);
                     element.unmask();
                     if (phone.length > 10) {
                         element.mask("(99) 99999-999?9");
                     } else {
                         element.mask("(99) 9999-9999?9");
                     }
                 });
            $('#cep').mask("99999-999");
            $('#cnpj').mask("99.999.999/9999-99");

        });
        jQuery.fn.validacpf = function () {
            this.change(function () {
                CPF = $(this).val();
                if (!CPF) { return false; }
                erro = new String;
                cpfv = CPF;
                if (cpfv.length == 14 || cpfv.length == 11) {
                    cpfv = cpfv.replace('.', '');
                    cpfv = cpfv.replace('.', '');
                    cpfv = cpfv.replace('-', '');

                    var nonNumbers = /\D/;

                    if (nonNumbers.test(cpfv)) {
                        erro = "A verificacao de CPF suporta apenas números!";
                    } else {
                        if (cpfv == "00000000000" ||
                            cpfv == "11111111111" ||
                            cpfv == "22222222222" ||
                            cpfv == "33333333333" ||
                            cpfv == "44444444444" ||
                            cpfv == "55555555555" ||
                            cpfv == "66666666666" ||
                            cpfv == "77777777777" ||
                            cpfv == "88888888888" ||
                            cpfv == "99999999999") {

                            erro = "Número de CPF inválido!"
                        }
                        var a = [];
                        var b = new Number;
                        var c = 11;

                        for (i = 0; i < 11; i++) {
                            a[i] = cpfv.charAt(i);
                            if (i < 9) b += (a[i] * --c);
                        }
                        if ((x = b % 11) < 2) {
                            a[9] = 0
                        } else {
                            a[9] = 11 - x
                        }
                        b = 0;
                        c = 11;
                        for (y = 0; y < 10; y++) b += (a[y] * c--);

                        if ((x = b % 11) < 2) {
                            a[10] = 0;
                        } else {
                            a[10] = 11 - x;
                        }
                        if ((cpfv.charAt(9) != a[9]) || (cpfv.charAt(10) != a[10])) {
                            erro = "Número de CPF inválido.";
                        }
                    }
                } else {
                    if (cpfv.length == 0) {
                        return false;
                    } else {
                        erro = "Número de CPF inválido.";
                    }
                }
                if (erro.length > 0) {
                    $(this).val('');
                    $("#feedback_cpf").removeClass('hidden').addClass('glyphicon-remove danger');
                } else {
                    $("#feedback_cpf").removeClass('glyphicon-remove danger hidden').addClass('glyphicon-ok sucess');
                }

                return $(this);
            });
        }

        $('#cpfpac').mask('999.999.999-99');
        $('#CPF').mask('999.999.999-99').validacpf();
        $(document).ready(function () {
            $('#cep').on("blur", function () {
                $.ajax({
                    type: 'GET',
                    url: 'buscaEndereco',
                    data: { 'cep': $("#cep").val() },
                    success: function (response) {
                        $("#End_completo").val(response);
                    },
                });
            });
        });
    </script>

</body>
</html>