@model LabClick.ViewModel.TesteViewModel

@{
    var base64 = Convert.ToBase64String(Model.Imagem);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

    var Options = new List<SelectListItem>
    {
        new SelectListItem { Text = "Selecione..." },
        new SelectListItem { Text = "Solicitar envio do cassete/fita do teste rápido para releitura" },
        new SelectListItem { Text = "Repetir teste rápido" },
        new SelectListItem { Text = "Repetir o teste utilizando metodologia com maior sensibilidade" }
    };

    var Details = new List<SelectListItem>
    {
        new SelectListItem { Text = "Selecione..." },
        new SelectListItem { Text = "IgG Reagente" },
        new SelectListItem { Text = "IgM Reagente" },
        new SelectListItem { Text = "IgG/IgM Reagente" }
    };
}

<div class="form-horizontal" style="width: 700px; border: groove; padding: 20px; align-self: center">

    @using (Html.BeginForm("GerarLaudo", "Teste", FormMethod.Post, new { @target = "_blank" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <h3>Análise de Teste - @Model.Exame.Nome</h3>
        </div>
        <div style="border-style: groove; padding: 20px; margin: 10px">
            <div class="form-group">
                @Html.Label("Exame:")
                @Html.DisplayFor(model => model.Exame.Nome)
            </div>
            <div class="form-group">
                @Html.Label("Status:")
                @Html.DisplayFor(model => model.Status)
            </div>
            <div class="form-group">
                @Html.Label("Data do Teste:")
                @Html.DisplayFor(model => model.DataTeste)
            </div>
            <div class="form-group">
                @Html.Label("Hora do Teste:")
                @Html.DisplayFor(model => model.HoraTeste)
            </div>
        </div>
        <div style="border-style: groove; padding: 20px; margin: 10px">
            <div class="form-group">
                @Html.Label("Nome do Paciente:")
                @Html.DisplayFor(model => model.Paciente.Nome)
            </div>
            <div class="form-group">
                @Html.Label("Clínica:")
                @Html.DisplayFor(model => model.Clinica.Nome)
            </div>
        </div>
        <div style="border-style: groove; padding: 20px; margin: 10px">
            <div>
                @Html.Label("Imagem do Teste/Cassete")
            </div>
            <div>
                <img src="@imgSrc" id="TesteImg" alt="Imagem do Teste/Cassete" style="width:50%;max-width:200px" />
                <!-- Modal da Imagem -->
                <div id="myModal" class="modalImage">
                    <span class="close">&times;</span>
                    <img class="modalImage-content" id="img01">
                    <div id="caption"></div>
                </div>
                <!--fim Modal-->
            </div>
        </div>
        <div class="form-group" id="divResultado" style="border-style: groove; padding: 20px; margin: 10px">
            <div>
                <label>Resultado da Avaliação</label>
            </div>
            <div>
                <div class="radio">
                    @Html.RadioButtonFor(m => m.Laudo.Resultado, "Positivo")
                    <label>Positivo</label>
                    @Html.DropDownList("ResultadoDetalhes", Details)
                </div>
                <div class="radio">
                    @Html.RadioButtonFor(m => m.Laudo.Resultado, "Negativo")
                    <label>Negativo</label>
                </div>
            </div>
            <div>
                <div class="radio">
                    @Html.RadioButtonFor(m => m.Laudo.Resultado, "Indeterminado")
                    <label>Indeterminado/Inválido   </label>
                    @Html.DropDownList("ResultadoDetalhes", Options)
                </div>
            </div>
        </div>

        <div class="form-group" style="border-style: groove; padding: 20px; margin: 10px">
            <div>
                <label>Observações</label>
            </div>
            <div>
                @Html.TextAreaFor(m => m.Laudo.Observacoes)
            </div>
        </div>

        <div>
            <div>
                <button class="btn btn-primary"><strong>@Html.ActionLink("Voltar", "Testes", "Teste", new { @style = "text-decoration: none; color: white" })</strong></button>
            </div>
            <div>
                <button type="button" onclick="getResult()" class="btn btn-info btn-lg" id="btnGerarLaudo">Gerar Laudo</button>
            </div>
        </div>

        <!-- Modal de Laudo-->
        <div class="modal fade" id="formModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Laudo - Pré-visualização</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.Label("Exame:")
                            @Html.DisplayFor(model => model.Exame.Nome)
                        </div>
                        <div class="form-group">
                            @Html.Label("Status:")
                            @Html.DisplayFor(model => model.Status)
                        </div>
                        <div class="form-group">
                            @Html.Label("Data do Teste:")
                            @Html.DisplayFor(model => model.DataTeste)
                        </div>
                        <div class="form-group">
                            @Html.Label("Hora do Teste:")
                            @Html.DisplayFor(model => model.HoraTeste)
                        </div>
                    </div>
                    <div style="border-style: groove; padding: 20px; margin: 10px">
                        <div class="form-group">
                            @Html.Label("Nome do Paciente:")
                            @Html.DisplayFor(model => model.Paciente.Nome)
                        </div>
                        <div class="form-group">
                            @Html.Label("Clínica:")
                            @Html.DisplayFor(model => model.Clinica.Nome)
                        </div>
                        <div class="form-group">
                            @Html.Label("Resultado:")
                            <label id="lblResultado"></label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button @*type="submit"*@ id="btnConcluir" class="btn btn-default">Concluir</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Fim Modal-->

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Paciente.Nome)
        @Html.HiddenFor(m => m.Paciente.Cpf)
        @Html.HiddenFor(m => m.Exame.Nome)
        @Html.HiddenFor(m => m.Paciente.DataNascimento)
    }

</div>

@section Scripts
{
    <script>

        $(document).ready(function () {

            $('#btnGerarLaudo').click(function () {

                if ($("#Laudo_Resultado:checked").val() != null) {
                    $('#erro').remove();
                    $('#formModal').modal('toggle');
                }
                else {
                    $('#erro').remove();
                    $('#divResultado').prepend($('<div id="erro" style="color: red;"><strong>Favor analisar o Teste</strong></div>'))
                    $('#divResultado').css('border-color', 'red')
                }
            });

            $('#btnConcluir').click(function () {

                $('#formModal').modal('toggle');
                //window.location.href = "";
            });
        });

        function getResult() {

            $("#lblResultado").text("")
            var result = $("#Laudo_Resultado:checked").val()
            $("#lblResultado").append(result)
        }

    </script>
}

@Styles.Render(@"~/Content/styles/css/test-image.css")
@Scripts.Render("~/Scripts/test-image.js")
