@model LabClick.ViewModel.TesteViewModel

@using(Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div >
            <h3>Análise de Teste - @Model.Exame.Nome</h3>
        </div>
        <div>
            <div class="form-group">
                @Html.Label("Exame:")
                @Html.DisplayFor(model => model.Exame.Nome)
            </div>
            <div class="form-group">
                @Html.Label("Status:")
                @Html.DisplayFor(model => model.Status)
            </div>
            <div class="form-group">
                @Html.Label("Data do Teste:")
                @Html.DisplayFor(model => model.DataTeste)
            </div>
            <div class="form-group">
                @Html.Label("Hora do Teste:")
                @Html.DisplayFor(model => model.HoraTeste)
            </div>
        </div>
    </div>
}