@model List<LabClick.ViewModel.TesteViewModel>

<h2>Testes</h2>
<table class="table">
    <tr>
        <th>Tipo</th>
        <th>Paciente</th>
        <th>Clínica</th>
        <th>Status</th>
        <th>Data</th>
    </tr>
    @foreach (var teste in Model)
    {
    <tr>
        <td>@teste.Exame.Nome</td>
        <td>@teste.Paciente.Nome</td>
        <td>@teste.Clinica.Nome</td>
        <td>@teste.Status</td>
        <td>@teste.DataCadastro</td>
        @if (teste.Laudo == null)
        {
            <td><a href="@Url.Action("AnalisarTeste", "Teste", new { id = teste.Id })">Analisar</a></td>
        }
        else if (teste.Laudo != null && !teste.LaudoOk)
        {
            <td><a href="@Url.Action("Editar", "Teste", new { id = teste.Id })">Reanalisar</a></td>
        }
        else
        {
            <td><a href="@Url.Action("Editar", "Teste", new { id = teste.Id })">Detalhar</a></td>
        }
    </tr>
    }
    </table>